:root {
    --primary-colour: #205375;
    --secondary-colour: #112B3C;
    --accent-colour: #F66B0E;
    --light-colour: #EFEFEF;
    --dark-colour: #212121;
    /* Add more colors as needed */

    /*buttonWidth == -titleOffset*/
    --titleOffset: -5%;
    --buttonWidth: 5%;
}


@font-face {
    font-family: 'SpaceX';
    font-style: normal;
    font-weight: normal;
    src: local('fonts/SpaceX.ttf'), url('fonts/SpaceX.woff') format('woff');
}