:root {
    --primary-color: #205375;
    --secondary-color: #112B3C;
    --accent-color: #F66B0E;
    --neutral-light: #EFEFEF;
    --neutral-dark: #212121;
    /* Add more colors as needed */

    /*buttonWidth == -titleOffset*/
    --titleOffset: -5%;
    --buttonWidth: 5%;
}


@font-face {
    font-family: 'SpaceX';
    font-style: normal;
    font-weight: normal;
    src: local('fonts/SpaceX.ttf'), url('fonts/SpaceX.woff') format('woff');
}